* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: slateblue;
    background-image: url(/lib/images/digiWallpaper.jpeg);
    background-size: cover;
    background-position:center;
    font-family:Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    position: relative;
}
.game-board {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    /* height: 100vh; */
    background: gray;
    padding: 1rem;
    border-radius: 10px;

}
/* if there is an image introduced into the css */
ul {
    list-style: none;
}
li{
    width:19%;
    background: blue;
    border-radius: 10px;
    border: 2px solid black;
    margin: 2px 1px ;
    /* margin-bottom: 5px; */
    cursor: pointer;
}
li img{
    width: 100%;
    padding: 5%;
    border-radius: 25px;
    visibility: visible;
}
.hidden {
    visibility: hidden;
}
.cardBack{
    background-image: url("/lib/images/CardBack.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.show {
    background-color: blue;
}

.match {
    visibility: visible;
    pointer-events: none;
    background-color: green;
}
.wrong {
    background: yellow;
}
/* need code that prevents the player from clicking on card again */
.prevent {
    pointer-events: none;
}
#winningPopUp {
    background-color: black;
    background-image: url('/lib/images/digimonModalBackground.jpeg') !important;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height:100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-times-circle{
    cursor: pointer;
    position: absolute;
    right: 2.5%;
    top: 5%;
}
.winning {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    background-color: white;
    /* width: 25%; */
    padding:50px;
    position:relative;
    
}

@media screen and (min-width:1440px) {
    .game-board{
        min-width: 65vw;
        /* background: tomato; */

    }
}
